customtkinter==5.1.2
google_api_python_client==2.86.0
google_auth_oauthlib==1.0.0
langchain==0.0.194
openai_whisper==20230314
opencv_python==4.7.0.72
Pillow==9.4.0
Pillow==9.2.0
Pillow==9.5.0
playsound==1.2.2
protobuf==3.20.1
protobuf==3.20.3
PyAutoGUI==0.9.53
pyttsx3==2.90
pywin32==305.1
pywin32==302
selenium==4.10.0
SpeechRecognition==3.10.0
spotipy==2.23.0
tiktoken==0.3.1
wikipedia==1.4.0
